<div id="blob"></div>

<style>
  #blob {
    background-color: var(--lightColor);
    height: 400px;
    aspect-ratio: 1;
    border-radius: 50% 50% 50% 50%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--accent-gradient);
    opacity: 0.25;
    z-index: 2;
    animation: blobRotate 20s infinite, blobTransform 5s infinite;
    filter: blur(50px);
  }
  @keyframes blobRotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
  @keyframes blobTransform {
    0% {
      border-radius: 66% 34% 37% 63% / 57% 31% 69% 43%;
    }
    60% {
      border-radius: 25% 75% 50% 50% / 25% 50% 45% 80%;
    }
    100% {
      border-radius: 66% 34% 37% 63% / 57% 31% 69% 43%;
    }
  }
</style>
<script>
  const blob = document.getElementById("blob") as HTMLElement;

  window.onpointermove = (event) => {
    const { clientX, clientY } = event;

    blob.animate(
      {
        left: `${clientX}px`,
        top: `${clientY}px`,
      },
      { duration: 20000, fill: "forwards" }
    );
  };
</script>
