---
/**
 * @name Logo
 * @description Staridev. logo for universal use
 */
---

<a href="#" class="logo">StariDev.</a>
<style>
  .logo {
    position: relative;
    z-index: 2;
    font-size: 1.8rem;
    font-weight: 800;
    background-color: var(--lightColor);
    font-family: var(--text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
  }
  @media screen and (max-width: 768px) {
    .logo {
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 500px) {
    .logo {
      font-size: 1.3rem;
    }
  }
</style>
